* {
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}

body {
    background-color: #d5b5c133;
}

.container {
    max-width: 500%;
    /*margin: 0 auto;*/
    margin-top: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
    color: #d972c2;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="datetime-local"]
{
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #d8d8d8;
}

button[type="submit"],
button
{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover, button:hover {
    background-color: #555;
}

.bondee {
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 200px;
}

.logout {
    /*style="text-align: right; position: absolute; top: 15px; right: 15px"*/
    /*text-align: right;*/
    position: absolute;
    top: 20px;
    right: 20px;
}

span,
strong {
    color: #d731c9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dog {
    width: 20%;
    height: 25%;
    background-image: url("../image/chiwawa.png");
    background-size: cover;
    /*border-radius: 50%;*/
    position: absolute;
    /*top: 21%;*/
    /*left: 28%;*/
    top: 120px;
    right: 165px;
}

.dog:hover {
    animation: rotate .13s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.meliodas {
    width: 30%;
    height: 30%;
    background-image: url("../image/meliodas.png");
    background-size: cover;
    position: absolute;
    top: 80px;
    left: 18px;
    /*border: 0 rgba(236, 140, 234, 0.1);*/
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(145, 94, 217, 0.4);
}

.kon {
    width: 20%;
    height: 25%;
    background-image: url("../image/kon.png");
    background-size: cover;
    position: absolute;
    /*border-radius: 50%;*/
    border-radius: 100px 100px 60px 60px;
    top: 110px;
    right: 38px;
}

.kon:hover, .kon:active {
    width: 23%;
    height: 28%;
    /*width: 40%;*/
    /*height: 50%;*/
    background-image: url("../image/fox.png");
    background-size: cover;
    border-radius: 50px 50px 20px 20px;
    position: absolute;
    /*top: 110px;*/
    /*right: 65px;*/
    /*background-color: #ffbd94;*/

    /* 添加視差滾動效果 */
    transform: translate3d(0, -20px, 0);
    /* 添加特效 */
    filter: brightness(115%) saturate(120%) grayscale(13%) opacity(0.96);
}

.neon {
    font-weight: bolder;
    color: #f180a9;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff;
    animation: pulsate2 1.5s infinite alternate;
}

@keyframes pulsate2 {
    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #ffffff,
            0 0 10px #ed82a2;
    }

    100% {
        text-shadow:
            0 0 4px #ffffff,
            0 0 11px #ffa788,
            0 0 19px #ffede5,
            0 0 20px #ed8186;
    }
}

.memos {
    max-width: 500px;
    width: 500px;
    height: 300px;

    position: relative;
    top: 50%;
    transform: translateY(5%);
    /*left: 10%;*/
    /*bottom: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*padding: 5px;*/
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 10px;*/
}

th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2d3e0;
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

/* 自定義滾動條的樣式 */
::-webkit-scrollbar {
    width: 6px; /* 設置滾動條的寬度 */
}

::-webkit-scrollbar-thumb {
    background-color: #e67a81; /* 設置滾動條的顏色 */
    border-radius: 5px; /* 設置滾動條的圓角半徑 */
}

/*塞爸*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    background-color: rgba(230, 219, 242, 0.36);
    padding: 20px;
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    /*height: 100vh;*/
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar li {
    /*margin-bottom: 10px;*/
    background-image: url("https://cdn-icons-png.flaticon.com/512/7357/7357214.png");
    background-size: 30px 30px; /* 調整圖片大小 */
    background-repeat: no-repeat;
    background-position: left; /* 調整圖片位置 */
    padding-left: 25px; /* 添加左側間距以防止文本與圖片重疊 */
}

.sidebar a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    margin-left: 8px; /* 右移10px */
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar .expand {
    flex: 1;
}
/*end 塞爸/*/

.password-container {
    position: relative;
    display: inline-block;
}

#eye {
    position: absolute;
    top: 20%;
    /*transform: translateY(-50%);*/
    right: 10px;
    cursor: pointer;
}

.alien {
    width: 90px;
    height: 135px;
    background-image: url("../image/alien.png");
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -10%);
}
